@import url("https://fonts.googleapis.com/css?family=Roboto");


a {
float: left;
}

body {
  font-family: "Roboto"; 
  color:seagreen;
  display: block;
  /*background-image: url("http://res.cloudinary.com/percowa/image/upload/v1505571448/antique_backdrop_background_horhiy.jpg"); */
  }
  

#about-me {
  margin-top: 40px;
  font-family: "Roboto";
  border-style: solid;
  border-top:1px;
  border-color: lightsalmon;
  background: linear-gradient(navajowhite,paleturquoise);
  width: 75%;
  height: 75%;
  
}

.btn{
background-color:lightsalmon;
box-shadow: 5px 5px 5px pink;
opacity:0.7;
}

.dropdown-menu {
position: relative;
}

/*.btn-round:hover {background-color: #3e8e41}*/


.fa {
color:seagreen;
background-color:lightblue;
}

.img-circle {
top: 30px;
}



.thumbnail{
background:none;
}

.social-row {
margin-left:20px;
}

#portfolio {
 display:table;
/*background: linear-gradient(#6495ED,lightblue);*/
}