@import url("https://fonts.googleapis.com/css?family=Roboto");

#about-me {
margin-top:40px;
}

body {
 display: block;
 font-family: "Roboto"; 
color:seagreen;
}

.main-overlay {
 background: linear-gradient(navajowhite,paleturquoise);
width:75%;
height:75%;
}

#bio1 {
position: relative;
margin-top: 150px;

}
.about-me {
  font-family: "Roboto";
  padding: 50px;
  border-style: solid;
  border-top:1px;
  border-color: lightsalmon;
  background: linear-gradient(lightblue,#6495ED);
}
  
  #about-me {
    margin-top: 40px;
    font-family: "Roboto";
    border-style: solid;
    border-top:1px;
    border-color: lightsalmon;
    background: linear-gradient(navajowhite,paleturquoise);
    width: 75%;
    height: 75%;
    
  }
  
  .btn{
  background-color:lightsalmon;
  box-shadow: 5px 5px 5px pink;
  opacity:0.7;
  }
  
  .btn-round:hover {background-color: #3e8e41}

  .dropdown-menu {
  position: relative;
  }
  
  .img-circle {
  top: 30px;
  }



.dropdown-item {
display: block;
}

.fa {
color:seagreen;
background-color:white;
}

.img-circle {
top: 30px;
}

#name {
left: 50%;
position: relative;
}

.social-row {
float: left;
margin-left:20px;
background-color:navajowhite;
color: white;
}

#portfolio {
 display:table;
/*background: linear-gradient(#6495ED,lightblue);*/
}


.thumbnail{
background:none;
}

#title1{
color: gray;
position: relative;
top: 25%;
border-bottom: 5px groove bisque;
}