body {
color:seagreen;
background-image: url("http://res.cloudinary.com/percowa/image/upload/v1505571448/antique_backdrop_background_horhiy.jpg"); 
}

div {
 background: linear-gradient(lightblue,#6495ED);
}


.about-me {
  padding: 50px;
  border-style: solid;
  border-color: lightsalmon;
  background: linear-gradient(lightblue,#6495ED);
}

.btn{
background-color:lightsalmon;
border-top: 2px solid white;
border-left: 2px solid white;
border-right: 2px solid white;
box-shadow: 5px 5px 5px pink;

}
.btn:hover {background-color: #3e8e41}
.navbar {
background:none;
}

.thumbnail{
border:0px;
border-radius:0px;
}

.first-row{
border-style:dotted;
border-color:lightsalmon;
padding:20px;
}

.second-row {
border-style:dotted;
  border-color:lightsalmon;
padding:30px;
}

.social-padding {
 padding:10px 10px;
}